 body {
     font-family: 'Poppins', sans-serif;
     margin: 0;
 }

 .top-banar {
     display: flex;
     background-image: url(Frame\ 57.jpg);
     background-repeat: no-repeat;
     background-position: left;
     padding-bottom: 2%;
 }

 .helf-weldth {
     width: 50%;
     margin-left: 5%;
     margin-right: 5%;
 }

 .helf-weldth img {
     width: 100%;

 }

 #skip-color {
     color: chartreuse;
 }

 h1 {
     font-size: 40px;
     margin: 0;
 }

 h3 {
     margin: 0;
     margin-bottom: 10px;
 }

 #button-place {
     margin-bottom: 0;

 }

 .link-button {
     color: rgb(145, 255, 0);
     background-color: rgb(27, 110, 110);
     padding: 10px 20px;
     text-decoration: none;

 }

 #about-me-text {
     font-size: 30px;
 }

 .middle-banar {
     display: flex;
     background-image: url(Frame\ 57.jpg);
     background-repeat: no-repeat;
     background-position: right;

 }

 .helf-weldth-2 {
     width: 50%;
     margin-right: 5%;
     margin-top: 7%;
     margin-left: 5%;
     padding-bottom: 0;
 }

 .helf-weldth-2 img {
     width: 250px;
 }

 #contact-button {
     color: chartreuse;
     padding: 15px 25px;
     background-color: darkslategray;
     text-decoration: none;
     margin-left: 15%;
     margin-top: 20%;
 }



 #center {
     text-align: center;
     margin: 0;
     background-image: url(Frame\ 57.jpg);
     background-repeat: no-repeat;
     background-position: left;

 }